.setting_container {
    width: 20vw;
    height: 100%;
    background: #fcfcfc;
    border-radius: 10px;
}

.setting_container_wrapper {
    display: flex;
    flex-direction: column;
    padding: calc(1vw + 1vh);
}
.setting_time_line_container
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.an_edit {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.an_edit h3 {
    font-size: calc(0.8vw + 0.8vh);
    text-align: start;
    width: 75%;
}

.an_edit input {
    width: 25%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: none;
}

.an_edit input:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 6px #66afe9;
}