.card_container {
    --ds-surface-raised: #FFFFFF;
    --ds-shadow-raised: 0px 1px 1px #091E4240, 0px 0px 1px #091E424F;
    height: fit-content;
    border-radius: calc(0.3vw + 0.3vh);
    box-shadow: var(--ds-shadow-raised,0 1px 0 #091e4240);
    padding: calc(0.3vw + 0.3vh);
    background-color: var(--ds-surface-raised);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.card_container:hover{
    background-color: #F0F0F0;
    cursor: pointer;
}
.card_container>button{
    padding: calc(0.4vw + 0.4vh);
    background-color: rgb(16, 16, 246);
    cursor: pointer;
    border-radius: calc(0.6vw + 0.6vh);
    font-size: calc(0.8vh + 0.8vw);
    border: none;
}
.card_container>button:hover{
    background-color: rgb(96, 96, 247);
    margin-left: calc(0.2vw + 0.2vh);
}
.task_label_list{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3rem;
    flex-wrap: wrap;
    padding: 5px;
}
.task_label{
    height: 0.6vh;
    width: 20%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin-left: 2.8%;
}

.card_container_wrapper {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding-right: 3px;
    background-color: transparent;
    cursor: auto;
}
.card_container_wrapper>input{
    box-shadow: none;
}
.text_area_wrapper {
    display: grid;
    height: fit-content;
    /* width: 100%; */
}

.text_area_wrapper::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";
    /* This is how textarea text behaves */
    white-space: pre-wrap;
    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
}

.text_area_wrapper>textarea {
    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
    border: none;
    background-color: transparent;
    color: #333;
    outline: none;
    height: auto;
    min-height: 1em;
    resize: none;
    overflow: hidden;
}

.text_area_wrapper>textarea,
.text_area_wrapper::after {
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
    word-wrap: break-word;
    white-space: pre-line;
    width: 13vw;
}

.icon {
    color: transparent;
    cursor: pointer;
}
.icon_delete{
    color: transparent;
    cursor: pointer;
}
.card_container:hover .icon{
    color: #a19f9f;
}
.card_container:hover .icon_delete{
    color: #a19f9f;
}
.card_container:hover .icon:hover {
    color: #8b8b8b
}
.card_container:hover .icon_delete:hover {
    color: #ff0000;
}

.card_container_icon{
    display: flex;
    flex-direction: column;
}
.card_container_icon_wrapper {
    display: flex;
    flex-direction: row;
}
.due_date{
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.due_date>span{
    font-size: 12px;
    color: grey;
    cursor: pointer;
}