.signup_container {
    height: 50vh;
    width: 35vw;
    margin-left: 35vw;
    margin-top: 15vh;
    /* background-color: #f7f4f4; */
    background-color: transparent;
    border-radius: 25px;
}

.signup_container_wrapper {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 1rem;
    background-color: #f7f4f4;
    border-radius: 25px;
}

#headerTitle {
    text-align: center;
    font-family: 'open sans', sans-serif;
    padding: 2rem 0;
    margin: 0;
    font-size: 2rem;
}

.first_last_name {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

input {
    font-size: 18px;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
    padding: 1rem;
    background-color: #efe8e8;
    box-shadow: inset 0px -2px 0px 0px rgba(124, 124, 124, 0.7);
}

input:focus {
    box-shadow: inset 0px -2px 0px 0px rgba(32, 251, 255, 0.7);
    outline: none;
}

.email_wrapper {
    display: flex;
    width: 100%;
}

.email_wrapper>input {
    width: 100%;
}

.password_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.password_wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
}

.show_pass_icon {
    background-color: transparent;
    color: #000000;

    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.signup_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup_button>button {
    padding: 1vh 2vh 1vh 2vh;
    border-radius: 25px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: linear-gradient(135deg, rgb(93, 83, 234) 0%, rgb(101, 168, 231) 100%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.15s ease-out;
}
.signup_button>button:hover{
    opacity: 0.8;
  }
  
#login {
    text-align: center;
 }
 #login>a{
   color: rgb(20, 20, 20);
   font-size: 18px;
 }
 #login>a:hover{
    color: rgb(15, 80, 232);
    font-style: italic;
  }