.timer_container{
    display: flex;
    z-index: 104;
    left: 653px;
    top: 296px;
    position: fixed;
    box-shadow: 0 0 4px rgba(131,131,131,.25);
    background: #fcfcfc;
    border-radius: 10px;
    width: 20vw;
}
.timer_container_wrapper{
    background: #fcfcfc;
    border-radius: 10px;
    width: 20vw;
}
.timer_container_wrapper_clicked{
    background: #fcfcfc;
    border-radius: 10px;
    width: 20vw;
}
.body_container{
    background-color: transparent;
    outline: none;
}
.body_container_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(0.6vw + 0.6vh) 0;
    background: rgb(252, 252, 252);
    color: rgb(78, 78, 78);
    border-radius: 10px;
}