.timer_container{
    height: 20vh;
    width: 20vw;
    position: fixed;
    top: 10rem;
    left: 30rem;
    /* display: block; */
}
.timer_container_wrapper{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.timer_container_wrapper_clicked{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.body_container{
    height: 80%;
    width: 100%;
    background-color: transparent;
    outline: auto;
}