  /* entypo */
  [class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .scnd-font-color {
    color: #9099b7;
  }
  .horizontal-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .my-list{
    display: flex;
    flex: auto;
    float: left;
  }

  .my-list .add-task-list{
    font-size: 25px;
    margin-top: 5px;
    color: #dddee2;
  }
  .my-list .add-task-list:hover{
    color: #aaabad;
    cursor: pointer;
  }