.menu_container{
    width: 10vw;
    height: fit-content;
    background-color: transparent;
    cursor: default;
    position: absolute;
    margin-left: 2vw;
}
.menu_container_wrapper{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}
.menu_item{
    display: flex;
    flex-direction: row;
    background-color: #0009;
    border-radius: 5px;
    color: #c7d1db;;
    margin: 0 0 4px 8px;
    padding: 6px 12px 6px 8px;
    cursor: pointer;
}
.menu_item:hover{
    background: #000c;
    color: #fff;
    text-decoration: none;
    transform: translateX(5px);
}