.navbar__container
{
    width: auto;
    min-width: 100vw;
    background-color: rgb(41, 150, 245);
    padding:0.5%;
}
.navbar__container .navbar__container_wrapper
{
	display: flex;
	padding: 20px;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	border-bottom-left-radius: 50px;
	background-color: rgb(173, 173, 175);
}

.navbar__container .navbar__container_wrapper .home_icon_container{
	height: 100%;
	width: 100%;
}
.navbar__container .navbar__container_wrapper .home_icon_container .home_icon
{
	color: rgb(141 141 143);
	cursor: pointer;
}
.navbar__container .navbar__container_wrapper .home_icon_container .home_icon:hover
{
	color: rgb(98, 98, 99);
}