.motivational_quote_container{
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    position: fixed;
    top: 10rem;
    left: 2rem;
}
.motivational_quote_container_wrapper
{
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    /* position: fixed;
    top: 6rem;
    left: 2rem; */
}
.motivational_quote_container_wrapper>span{
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    display: block;
    max-width: 400px;
    margin: 1em auto;
    line-height: 1.0;
}