.menu_more_container{
    width: 10vw;
    height: fit-content;
    background-color: transparent;
    cursor: default;
    position: absolute;
}
.menu_more_container_wrapper{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}
.menu_more_item{
    background-color: aliceblue;
    border-radius: 5px;
    text-align: start;
    font-size: medium;
}
.menu_more_item:hover{
    background-color: rgb(192, 194, 195);
    cursor: pointer;
    margin-left: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}