body {
  /* height: 100vh;
  width: 100vw; */
  align-items: center;
  font: 14px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: linear-gradient(45deg, #d8bdae, #aabee3, #8bd4ac, #a4e3ee);
  background-size: 1000% 1000%;
  animation: gradient 10s ease infinite;
  margin: 0;
  padding: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 15px;
}

a:hover {
  text-decoration: underline;
}

p,
a,
span {
  color: #fff;
}