.task_manager_container {
    max-width: 100vw;
    min-width: 21vw;
    max-height: 100vh;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    background: #fcfcfc;
    border-radius: 15px;
}
.header_container{
    height: 20%;
    width: 100%;
}
.header_container_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #4e4e4e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
}
.dropdown_container{
    font-size: calc(0.8vh + 0.8vw);
    margin: calc(0.5vh + 0.5vw) calc(0.8vh + 0.8vw);
    height: auto;
    width: auto;
}
.task_manager_container_wrapper {
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: auto;
    resize: both;
    gap: calc(1vh + 1vw);
}

.task_manager_container_wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f3f3f3;
    cursor: pointer;
}

.task_manager_container_wrapper::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 4px;
}

.task_manager_container_wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #858383;

}

.task_manager_container_wrapper::-webkit-scrollbar-track {
    background-color: #f7f7f7;
}

.add_task_list_button {
    width: fit-content;
    outline: none;
    background-color: transparent;
    height: fit-content;
    border: none;
    box-sizing: border-box;
}

.add_icon {
    color: rgb(78, 78, 78);
    padding: 1px;
    border-radius: 50%;
    background-color: transparent;
    font-size: 25px;
}

.add_icon:hover {
    color: #b1b2b3;
    cursor: pointer;
}