.list_container {
    width: fit-content;
    height: fit-content;
    min-width: 15vw;
    background-color: transparent;
}
.list_container_wrapper{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 5px 5px;
    padding: 10px;
    cursor: grab;
    background-color: #E3E3E3;
}

.is_grabbing {
    opacity: 0.8;
    cursor: grabbing;
}